In [1]:
import pandas as pd
import numpy as np
from math import log
from tqdm import tqdm

In [7]:
document_list = [
  '먹고 싶은 사과',
  '먹고 싶은 바나나',
  '길고 노란 바나나 바나나',
  '저는 과일이 좋아요'
]

### 단어 정보

In [6]:
vocab = list(set([word for document in document_list for word in document.split(' ')]))
vocab.sort()
print("전체 단어: ", vocab)

전체 단어:  ['과일이', '길고', '노란', '먹고', '바나나', '사과', '싶은', '저는', '좋아요']

In [5]:
def tf(word, document):
    return document.count(word)

def idf(word, document_list):
    df = 0
    for document in document_list:
        df += 1 if word in document else 0
    return log(len(document_list)/(df+1))

def tfidf(word, document, document_list):
    return tf(word, document) * idf(word, document_list)

### 전체 문서에 대한 TF

In [13]:
result = []

for doc in document_list:
    doc_tf = []
    for wd in vocab:
        doc_tf.append(tf(wd, doc))
    result.append(doc_tf)

tf_df = pd.DataFrame(result, columns = vocab)
tf_df

   과일이  길고  노란  먹고  바나나  사과  싶은  저는  좋아요
0    0   0   0   1    0   1   1   0    0
1    0   0   0   1    1   0   1   0    0
2    0   1   1   0    2   0   0   0    0
3    1   0   0   0    0   0   0   1    1

### 전체 단어에 대한 IDF

In [11]:
idf_df = pd.DataFrame([idf(word, document_list) for word in vocab], index = vocab, columns = ["idf"])
idf_df

          idf
과일이  0.693147
길고   0.693147
노란   0.693147
먹고   0.287682
바나나  0.287682
사과   0.693147
싶은   0.287682
저는   0.693147
좋아요  0.693147